In [28]:
import pandas as pd

In [29]:
pd.read_csv(r"C:\Users\91868\Data Science\python\WEB-SCRAPPING-MINI-PROJECT(GitHub-Topics)\3Drepository.csv")
#pd.read_csv("C:\\Users\\91868\\Data Science\\python\\WEB-SCRAPPING-MINI-PROJECT(GitHub-Topics)\\3Drepository.csv")
#pd.read_csv("C:/Users/91868/Data Science/python/WEB-SCRAPPING-MINI-PROJECT(GitHub-Topics)/3Drepository.csv")

,repo_name,user_name,repo_url,no_stars
0,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
1,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
2,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
3,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
4,aframe,aframevr,https://github.com/aframevr/aframe,13100
5,tinyrenderer,ssloy,https://github.com/ssloy/tinyrenderer,11300
6,3d-game-shaders-for-beginners,lettier,https://github.com/lettier/3d-game-shaders-for...,11200
7,FreeCAD,FreeCAD,https://github.com/FreeCAD/FreeCAD,10000
8,zdog,metafizzy,https://github.com/metafizzy/zdog,8800
9,cesium,CesiumGS,https://github.com/CesiumGS/cesium,7500
10,3D-Machine-Learning,timzhang642,https://github.com/timzhang642/3D-Machine-Lear...,7100
11,SpaceshipGenerator,a1studmuffin,https://github.com/a1studmuffin/SpaceshipGener...,6900
12,Open3D,isl-org,https://github.com/isl-org/Open3D,5500
13,spritejs,spritejs,https://github.com/spritejs/spritejs,4600
14,tensorspace,tensorspace-team,https://github.com/tensorspace-team/tensorspace,4500
15,webglstudio.js,jagenjo,https://github.com/jagenjo/webglstudio.js,4400
16,PRNet,YadiraF,https://github.com/YadiraF/PRNet,4400
17,vrn,AaronJackson,https://github.com/AaronJackson/vrn,4400
18,BlenderGIS,domlysz,https://github.com/domlysz/BlenderGIS,4400
19,openscad,openscad,https://github.com/openscad/openscad,4300
20,tinyraytracer,ssloy,https://github.com/ssloy/tinyraytracer,3900
21,magnum,mosra,https://github.com/mosra/magnum,3700
22,blender,blender,https://github.com/blender/blender,3500
23,model-viewer,google,https://github.com/google/model-viewer,3400
24,webgl-fundamentals,gfxfundamentals,https://github.com/gfxfundamentals/webgl-funda...,3200
25,3DDFA,cleardusk,https://github.com/cleardusk/3DDFA,3100
26,isometric-contributions,jasonlong,https://github.com/jasonlong/isometric-contrib...,3000
27,rg3d,rg3dengine,https://github.com/rg3dengine/rg3d,2800
28,meshlab,cnr-isti-vclab,https://github.com/cnr-isti-vclab/meshlab,2400
29,L7,antvis,https://github.com/antvis/L7,2400

In [30]:
df=pd.read_csv(r"C:\Users\91868\Data Science\python\WEB-SCRAPPING-MINI-PROJECT(GitHub-Topics)\3Drepository.csv")

In [31]:
df

,repo_name,user_name,repo_url,no_stars
0,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
1,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
2,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
3,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
4,aframe,aframevr,https://github.com/aframevr/aframe,13100
5,tinyrenderer,ssloy,https://github.com/ssloy/tinyrenderer,11300
6,3d-game-shaders-for-beginners,lettier,https://github.com/lettier/3d-game-shaders-for...,11200
7,FreeCAD,FreeCAD,https://github.com/FreeCAD/FreeCAD,10000
8,zdog,metafizzy,https://github.com/metafizzy/zdog,8800
9,cesium,CesiumGS,https://github.com/CesiumGS/cesium,7500
10,3D-Machine-Learning,timzhang642,https://github.com/timzhang642/3D-Machine-Lear...,7100
11,SpaceshipGenerator,a1studmuffin,https://github.com/a1studmuffin/SpaceshipGener...,6900
12,Open3D,isl-org,https://github.com/isl-org/Open3D,5500
13,spritejs,spritejs,https://github.com/spritejs/spritejs,4600
14,tensorspace,tensorspace-team,https://github.com/tensorspace-team/tensorspace,4500
15,webglstudio.js,jagenjo,https://github.com/jagenjo/webglstudio.js,4400
16,PRNet,YadiraF,https://github.com/YadiraF/PRNet,4400
17,vrn,AaronJackson,https://github.com/AaronJackson/vrn,4400
18,BlenderGIS,domlysz,https://github.com/domlysz/BlenderGIS,4400
19,openscad,openscad,https://github.com/openscad/openscad,4300
20,tinyraytracer,ssloy,https://github.com/ssloy/tinyraytracer,3900
21,magnum,mosra,https://github.com/mosra/magnum,3700
22,blender,blender,https://github.com/blender/blender,3500
23,model-viewer,google,https://github.com/google/model-viewer,3400
24,webgl-fundamentals,gfxfundamentals,https://github.com/gfxfundamentals/webgl-funda...,3200
25,3DDFA,cleardusk,https://github.com/cleardusk/3DDFA,3100
26,isometric-contributions,jasonlong,https://github.com/jasonlong/isometric-contrib...,3000
27,rg3d,rg3dengine,https://github.com/rg3dengine/rg3d,2800
28,meshlab,cnr-isti-vclab,https://github.com/cnr-isti-vclab/meshlab,2400
29,L7,antvis,https://github.com/antvis/L7,2400

In [32]:
df.head(7)

,repo_name,user_name,repo_url,no_stars
0,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
1,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
2,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
3,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
4,aframe,aframevr,https://github.com/aframevr/aframe,13100
5,tinyrenderer,ssloy,https://github.com/ssloy/tinyrenderer,11300
6,3d-game-shaders-for-beginners,lettier,https://github.com/lettier/3d-game-shaders-for...,11200

In [33]:
df.tail()

,repo_name,user_name,repo_url,no_stars
25,3DDFA,cleardusk,https://github.com/cleardusk/3DDFA,3100
26,isometric-contributions,jasonlong,https://github.com/jasonlong/isometric-contrib...,3000
27,rg3d,rg3dengine,https://github.com/rg3dengine/rg3d,2800
28,meshlab,cnr-isti-vclab,https://github.com/cnr-isti-vclab/meshlab,2400
29,L7,antvis,https://github.com/antvis/L7,2400

In [34]:
type(df)

pandas.core.frame.DataFrame

In [35]:
f5=df.head()

In [36]:
type(f5)

pandas.core.frame.DataFrame

In [37]:
f5.to_csv('test.csv')

In [38]:
!dir

 Volume in drive C is Windows-SSD
 Volume Serial Number is 5224-8246

 Directory of C:\Users\91868\Data Science

28-02-2023  09:24    <DIR>          .
19-01-2023  17:43    <DIR>          ..
28-02-2023  08:37    <DIR>          .ipynb_checkpoints
28-02-2023  09:23            36,596 PANDAS.ipynb
08-01-2023  11:03    <DIR>          python
03-01-2023  10:55             6,115 sqlite.ipynb
28-02-2023  09:24               364 test.csv
               3 File(s)         43,075 bytes
               4 Dir(s)  264,149,708,800 bytes free

In [39]:
newdf=pd.read_csv('test.csv')

In [40]:
newdf

,Unnamed: 0,repo_name,user_name,repo_url,no_stars
0,0,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
1,1,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
2,2,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
3,3,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
4,4,aframe,aframevr,https://github.com/aframevr/aframe,13100

In [41]:
pd.read_csv('test.csv')

              #repo_name#user_name#repo_url#no_stars
0  0#three.js#mrdoob#https://github.com/mrdoob/th...
1  1#libgdx#libgdx#https://github.com/libgdx/libg...
2  2#react-three-fiber#pmndrs#https://github.com/...
3  3#Babylon.js#BabylonJS#https://github.com/Baby...
4  4#aframe#aframevr#https://github.com/aframevr/...

In [42]:
pd.read_csv('test.csv',sep='#')

,Unnamed: 0,repo_name,user_name,repo_url,no_stars
0,0,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
1,1,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
2,2,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
3,3,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
4,4,aframe,aframevr,https://github.com/aframevr/aframe,13100

In [43]:
pd.read_csv('test.csv',sep='#',header=None)

,0,1,2,3,4
0,NaN,repo_name,user_name,repo_url,no_stars
1,0.0,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
2,1.0,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
3,2.0,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
4,3.0,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
5,4.0,aframe,aframevr,https://github.com/aframevr/aframe,13100

In [44]:
pd.read_csv(r"C:\Users\91868\Data Science\python\WEB-SCRAPPING-MINI-PROJECT(GitHub-Topics)\3Drepository.csv",header=None)

,0,1,2,3
0,repo_name,user_name,repo_url,no_stars
1,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
2,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
3,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
4,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
5,aframe,aframevr,https://github.com/aframevr/aframe,13100
6,tinyrenderer,ssloy,https://github.com/ssloy/tinyrenderer,11300
7,3d-game-shaders-for-beginners,lettier,https://github.com/lettier/3d-game-shaders-for...,11200
8,FreeCAD,FreeCAD,https://github.com/FreeCAD/FreeCAD,10000
9,zdog,metafizzy,https://github.com/metafizzy/zdog,8800
10,cesium,CesiumGS,https://github.com/CesiumGS/cesium,7500
11,3D-Machine-Learning,timzhang642,https://github.com/timzhang642/3D-Machine-Lear...,7100
12,SpaceshipGenerator,a1studmuffin,https://github.com/a1studmuffin/SpaceshipGener...,6900
13,Open3D,isl-org,https://github.com/isl-org/Open3D,5500
14,spritejs,spritejs,https://github.com/spritejs/spritejs,4600
15,tensorspace,tensorspace-team,https://github.com/tensorspace-team/tensorspace,4500
16,webglstudio.js,jagenjo,https://github.com/jagenjo/webglstudio.js,4400
17,PRNet,YadiraF,https://github.com/YadiraF/PRNet,4400
18,vrn,AaronJackson,https://github.com/AaronJackson/vrn,4400
19,BlenderGIS,domlysz,https://github.com/domlysz/BlenderGIS,4400
20,openscad,openscad,https://github.com/openscad/openscad,4300
21,tinyraytracer,ssloy,https://github.com/ssloy/tinyraytracer,3900
22,magnum,mosra,https://github.com/mosra/magnum,3700
23,blender,blender,https://github.com/blender/blender,3500
24,model-viewer,google,https://github.com/google/model-viewer,3400
25,webgl-fundamentals,gfxfundamentals,https://github.com/gfxfundamentals/webgl-funda...,3200
26,3DDFA,cleardusk,https://github.com/cleardusk/3DDFA,3100
27,isometric-contributions,jasonlong,https://github.com/jasonlong/isometric-contrib...,3000
28,rg3d,rg3dengine,https://github.com/rg3dengine/rg3d,2800
29,meshlab,cnr-isti-vclab,https://github.com/cnr-isti-vclab/meshlab,2400
30,L7,antvis,https://github.com/antvis/L7,2400

In [47]:
pd.read_csv(r"C:\Users\91868\Data Science\python\WEB-SCRAPPING-MINI-PROJECT(GitHub-Topics)\3Drepository.csv",header=None,
            names=['a','b','c','d'])

,a,b,c,d
0,repo_name,user_name,repo_url,no_stars
1,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
2,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
3,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
4,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
5,aframe,aframevr,https://github.com/aframevr/aframe,13100
6,tinyrenderer,ssloy,https://github.com/ssloy/tinyrenderer,11300
7,3d-game-shaders-for-beginners,lettier,https://github.com/lettier/3d-game-shaders-for...,11200
8,FreeCAD,FreeCAD,https://github.com/FreeCAD/FreeCAD,10000
9,zdog,metafizzy,https://github.com/metafizzy/zdog,8800
10,cesium,CesiumGS,https://github.com/CesiumGS/cesium,7500
11,3D-Machine-Learning,timzhang642,https://github.com/timzhang642/3D-Machine-Lear...,7100
12,SpaceshipGenerator,a1studmuffin,https://github.com/a1studmuffin/SpaceshipGener...,6900
13,Open3D,isl-org,https://github.com/isl-org/Open3D,5500
14,spritejs,spritejs,https://github.com/spritejs/spritejs,4600
15,tensorspace,tensorspace-team,https://github.com/tensorspace-team/tensorspace,4500
16,webglstudio.js,jagenjo,https://github.com/jagenjo/webglstudio.js,4400
17,PRNet,YadiraF,https://github.com/YadiraF/PRNet,4400
18,vrn,AaronJackson,https://github.com/AaronJackson/vrn,4400
19,BlenderGIS,domlysz,https://github.com/domlysz/BlenderGIS,4400
20,openscad,openscad,https://github.com/openscad/openscad,4300
21,tinyraytracer,ssloy,https://github.com/ssloy/tinyraytracer,3900
22,magnum,mosra,https://github.com/mosra/magnum,3700
23,blender,blender,https://github.com/blender/blender,3500
24,model-viewer,google,https://github.com/google/model-viewer,3400
25,webgl-fundamentals,gfxfundamentals,https://github.com/gfxfundamentals/webgl-funda...,3200
26,3DDFA,cleardusk,https://github.com/cleardusk/3DDFA,3100
27,isometric-contributions,jasonlong,https://github.com/jasonlong/isometric-contrib...,3000
28,rg3d,rg3dengine,https://github.com/rg3dengine/rg3d,2800
29,meshlab,cnr-isti-vclab,https://github.com/cnr-isti-vclab/meshlab,2400
30,L7,antvis,https://github.com/antvis/L7,2400

In [55]:
pd.read_csv(r"C:\Users\91868\Data Science\python\WEB-SCRAPPING-MINI-PROJECT(GitHub-Topics)\3Drepository.csv",header=None,skiprows=[0,2,4])

,0,1,2,3
0,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
1,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
2,aframe,aframevr,https://github.com/aframevr/aframe,13100
3,tinyrenderer,ssloy,https://github.com/ssloy/tinyrenderer,11300
4,3d-game-shaders-for-beginners,lettier,https://github.com/lettier/3d-game-shaders-for...,11200
5,FreeCAD,FreeCAD,https://github.com/FreeCAD/FreeCAD,10000
6,zdog,metafizzy,https://github.com/metafizzy/zdog,8800
7,cesium,CesiumGS,https://github.com/CesiumGS/cesium,7500
8,3D-Machine-Learning,timzhang642,https://github.com/timzhang642/3D-Machine-Lear...,7100
9,SpaceshipGenerator,a1studmuffin,https://github.com/a1studmuffin/SpaceshipGener...,6900
10,Open3D,isl-org,https://github.com/isl-org/Open3D,5500
11,spritejs,spritejs,https://github.com/spritejs/spritejs,4600
12,tensorspace,tensorspace-team,https://github.com/tensorspace-team/tensorspace,4500
13,webglstudio.js,jagenjo,https://github.com/jagenjo/webglstudio.js,4400
14,PRNet,YadiraF,https://github.com/YadiraF/PRNet,4400
15,vrn,AaronJackson,https://github.com/AaronJackson/vrn,4400
16,BlenderGIS,domlysz,https://github.com/domlysz/BlenderGIS,4400
17,openscad,openscad,https://github.com/openscad/openscad,4300
18,tinyraytracer,ssloy,https://github.com/ssloy/tinyraytracer,3900
19,magnum,mosra,https://github.com/mosra/magnum,3700
20,blender,blender,https://github.com/blender/blender,3500
21,model-viewer,google,https://github.com/google/model-viewer,3400
22,webgl-fundamentals,gfxfundamentals,https://github.com/gfxfundamentals/webgl-funda...,3200
23,3DDFA,cleardusk,https://github.com/cleardusk/3DDFA,3100
24,isometric-contributions,jasonlong,https://github.com/jasonlong/isometric-contrib...,3000
25,rg3d,rg3dengine,https://github.com/rg3dengine/rg3d,2800
26,meshlab,cnr-isti-vclab,https://github.com/cnr-isti-vclab/meshlab,2400
27,L7,antvis,https://github.com/antvis/L7,2400

In [58]:
pd.read_csv(r"C:\Users\91868\Data Science\python\WEB-SCRAPPING-MINI-PROJECT(GitHub-Topics)\3Drepository.csv",header=None,na_values=['aframe','zdog'])

,0,1,2,3
0,repo_name,user_name,repo_url,no_stars
1,three.js,mrdoob,https://github.com/mrdoob/three.js,74700
2,libgdx,libgdx,https://github.com/libgdx/libgdx,19000
3,react-three-fiber,pmndrs,https://github.com/pmndrs/react-three-fiber,15200
4,Babylon.js,BabylonJS,https://github.com/BabylonJS/Babylon.js,15000
5,NaN,aframevr,https://github.com/aframevr/aframe,13100
6,tinyrenderer,ssloy,https://github.com/ssloy/tinyrenderer,11300
7,3d-game-shaders-for-beginners,lettier,https://github.com/lettier/3d-game-shaders-for...,11200
8,FreeCAD,FreeCAD,https://github.com/FreeCAD/FreeCAD,10000
9,NaN,metafizzy,https://github.com/metafizzy/zdog,8800
10,cesium,CesiumGS,https://github.com/CesiumGS/cesium,7500
11,3D-Machine-Learning,timzhang642,https://github.com/timzhang642/3D-Machine-Lear...,7100
12,SpaceshipGenerator,a1studmuffin,https://github.com/a1studmuffin/SpaceshipGener...,6900
13,Open3D,isl-org,https://github.com/isl-org/Open3D,5500
14,spritejs,spritejs,https://github.com/spritejs/spritejs,4600
15,tensorspace,tensorspace-team,https://github.com/tensorspace-team/tensorspace,4500
16,webglstudio.js,jagenjo,https://github.com/jagenjo/webglstudio.js,4400
17,PRNet,YadiraF,https://github.com/YadiraF/PRNet,4400
18,vrn,AaronJackson,https://github.com/AaronJackson/vrn,4400
19,BlenderGIS,domlysz,https://github.com/domlysz/BlenderGIS,4400
20,openscad,openscad,https://github.com/openscad/openscad,4300
21,tinyraytracer,ssloy,https://github.com/ssloy/tinyraytracer,3900
22,magnum,mosra,https://github.com/mosra/magnum,3700
23,blender,blender,https://github.com/blender/blender,3500
24,model-viewer,google,https://github.com/google/model-viewer,3400
25,webgl-fundamentals,gfxfundamentals,https://github.com/gfxfundamentals/webgl-funda...,3200
26,3DDFA,cleardusk,https://github.com/cleardusk/3DDFA,3100
27,isometric-contributions,jasonlong,https://github.com/jasonlong/isometric-contrib...,3000
28,rg3d,rg3dengine,https://github.com/rg3dengine/rg3d,2800
29,meshlab,cnr-isti-vclab,https://github.com/cnr-isti-vclab/meshlab,2400
30,L7,antvis,https://github.com/antvis/L7,2400

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('uk-500.csv')

In [3]:
pd.read_csv('uk-500.csv',header=0,index_col=None,skiprows=[0,1,3,5],na_values=['Zigomalas','Rampy']).head()

,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
0,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
1,Eric,NaN,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
2,Marg,Grasmick,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
3,Laquita,Hisaw,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk
4,Lura,Manzella,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk

In [4]:
df

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [5]:
df.describe()

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
count,500,500,500,500,500,500,500,500,500,500,500
unique,479,498,498,500,468,102,500,500,500,500,498
top,Antonio,Rampy,Martin Morrissey,14 Taylor St,City and Hunslet Ward,Greater London,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.martinmorrissey.co.uk
freq,3,2,2,1,3,44,1,1,1,1,2

In [6]:
df.dtypes

first_name      object
last_name       object
company_name    object
address         object
city            object
county          object
postal          object
phone1          object
phone2          object
email           object
web             object
dtype: object

In [16]:
df1=pd.read_csv(r"C:\Users\91868\Downloads\data1.csv")

In [17]:
df1

   capacity  score  length
0         1     10      30
1         2     20      30
2         3     30      40
3         3     40      30
4         2     30      40
5         7     10      23
6         3     20      22
7         8     20      11
8         2     30       2

In [19]:
df1.describe()

       capacity      score     length
count  9.000000   9.000000   9.000000
mean   3.444444  23.333333  25.333333
std    2.403701  10.000000  12.559857
min    1.000000  10.000000   2.000000
25%    2.000000  20.000000  22.000000
50%    3.000000  20.000000  30.000000
75%    3.000000  30.000000  30.000000
max    8.000000  40.000000  40.000000

In [22]:
df1.dtypes

capacity    int64
score       int64
length      int64
dtype: object

In [29]:
df.describe(percentiles=[.5,.6],include='all')

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
count,500,500,500,500,500,500,500,500,500,500,500
unique,479,498,498,500,468,102,500,500,500,500,498
top,Antonio,Rampy,Martin Morrissey,14 Taylor St,City and Hunslet Ward,Greater London,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.martinmorrissey.co.uk
freq,3,2,2,1,3,44,1,1,1,1,2

In [30]:
 df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
                    'numeric': [1, 2, 3],
                    'object': ['a', 'b', 'c']
                   })

In [31]:
df

  categorical  numeric object
0           d        1      a
1           e        2      b
2           f        3      c

In [35]:
df.describe(percentiles=[.5],include='all')

       categorical  numeric object
count            3      3.0      3
unique           3      NaN      3
top              d      NaN      a
freq             1      NaN      1
mean           NaN      2.0    NaN
std            NaN      1.0    NaN
min            NaN      1.0    NaN
50%            NaN      2.0    NaN
max            NaN      3.0    NaN

In [40]:
df.describe(percentiles=[0.5],include=[object,'category'])

       categorical object
count            3      3
unique           3      3
top              d      a
freq             1      1

In [5]:
import pandas as pd
df=pd.read_csv('uk-500.csv')

In [6]:
df

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [7]:
df.to_csv('uk500.csv',index=False,header=None)

In [10]:
df.to_csv('uk501.csv',index=False,header=None,sep='&')

In [11]:
df.to_csv('uk502.csv',index=False,header=None,sep='&',columns=['first_name','last_name','postal'])

In [12]:
df.columns

Index(['first_name', 'last_name', 'company_name', 'address', 'city', 'county',
       'postal', 'phone1', 'phone2', 'email', 'web'],
      dtype='object')

In [14]:
type(df['phone1'])

pandas.core.series.Series

In [15]:
df[['phone1']]

           phone1
0    01835-703597
1    01937-864715
2    01347-368222
3    01912-771311
4    01547-429341
..            ...
495  01748-625058
496  01916-963261
497  01888-152110
498  01877-379681
499  01451-785624

[500 rows x 1 columns]

In [16]:
type(df[['phone1']])

pandas.core.frame.DataFrame

In [19]:
df[['city','county']]

                               city           county
0                 St. Stephens Ward             Kent
1                        Abbey Ward  Buckinghamshire
2    East Southbourne and Tuckton W      Bournemouth
3                Hawerby cum Beesby     Lincolnshire
4        Greets Green and Lyng Ward    West Midlands
..                              ...              ...
495  Knightsbridge and Belgravia Wa   Greater London
496        Inverness Ness-Side Ward         Highland
497                Darton West Ward  South Yorkshire
498                Consett North ED    County Durham
499               Tanworth-in-Arden     Warwickshire

[500 rows x 2 columns]

In [23]:
df[list(df.columns)[0:6:2]]

    first_name                    company_name                            city
0      Aleshia         Alan D Rosenburg Cpa Pc               St. Stephens Ward
1         Evan              Cap Gemini America                      Abbey Ward
2       France             Elliott, John W Esq  East Southbourne and Tuckton W
3      Ulysses                  Mcmahan, Ben L              Hawerby cum Beesby
4       Tyisha                  Champagne Room      Greets Green and Lyng Ward
..         ...                             ...                             ...
495      Avery      Plaza Gourmet Delicatessen  Knightsbridge and Belgravia Wa
496       Reid            Fitzgerald, Edward J        Inverness Ness-Side Ward
497  Charlette              Furey & Associates                Darton West Ward
498  Celestina        Bfg Federal Credit Union                Consett North ED
499         Mi  Nelson Wright Haworth Golf Crs               Tanworth-in-Arden

[500 rows x 3 columns]

In [26]:
dfh=pd.read_html('https://www.espncricinfo.com/cricketers/kane-williamson-277906/bowling-batting-stats')

In [27]:
dfh

[  Unnamed: 0       Span  Mat  Inns  NO  Runs   HS    Avg     BF     SR  100s  \
 0   overview  2010-2023   92   161  15  7787  251  53.33  15284  50.94    26

    50s  0s   4s  6s
 0   33  10  863  18  ,
         Unnamed: 0       Span  Mat  Inns  NO  Runs    HS     Avg    BF     SR  \
 0     vs Australia  2011-2019    9    18   1   699   166   41.11  1208  57.86
 1    vs Bangladesh  2013-2019    6     8   2   683  200*  113.83  1020  66.96
 2       vs England  2013-2023   16    29   2   995   132   36.85  2366  42.05
 3         vs India  2010-2021   13    24   1   871   131   37.86  1997  43.61
 4      vs Pakistan  2011-2023   14    25   2  1519   238   66.04  2867  52.98
 5  vs South Africa  2012-2017   10    16   2   665   176   47.50  1370  48.54
 6     vs Sri Lanka  2012-2019   10    18   3   992  242*   66.13  1758  56.42
 7   vs West Indies  2012-2020   10    17   1   970   251   60.62  2025  47.90
 8      vs Zimbabwe  2011-2016    4     6   1   393   113   78.60   673  58.39

    100s  50s  0s   4s  6s
 0     2    2   2   93   0
 1     3    4   0   73   2
 2     4    4   3  118   1
 3     2    5   1   93   2
 4     5    4   0  158   4
 5     3    2   1   73   4
 6     3    5   2   95   1
 7     3    4   1  121   3
 8     1    3   0   39   1  ,
          Unnamed: 0       Span  Mat  Inns  NO  Runs    HS     Avg    BF  \
 0      in Australia  2011-2019    7    14   1   557   166   42.84   867
 1     in Bangladesh  2013-2013    2     3   0   250   114   83.33   511
 2        in England  2013-2022    8    16   1   458   132   30.53  1171
 3          in India  2010-2021    8    15   0   503   131   33.53  1251
 4    in New Zealand  2011-2023   43    70   8  3930   251   63.38  7250
 5       in Pakistan  2022-2023    2     3   1   277  200*  138.50   593
 6   in South Africa  2013-2016    4     7   1   127    77   21.16   262
 7      in Sri Lanka  2012-2019    4     7   0   187   135   26.71   440
 8         in U.A.E.  2014-2018    6    11   1   647   192   64.70  1145
 9    in West Indies  2012-2014    5    10   1   462  161*   51.33  1129
 10      in Zimbabwe  2011-2016    3     5   1   389   113   97.25   665

        SR  100s  50s  0s   4s  6s
 0   64.24     2    1   2   78   0
 1   48.92     1    2   0   20   1
 2   39.11     1    2   1   57   0
 3   40.20     1    3   1   51   0
 4   54.20    14   18   3  440  13
 5   46.71     1    0   0   32   1
 6   48.47     0    1   0   15   1
 7   42.50     1    0   2   15   0
 8   56.50     2    2   0   62   1
 9   40.92     2    1   1   54   0
 10  58.49     1    3   0   39   1  ,
     Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF     SR  \
 0    in Africa  2011-2016    7    12   2   516   113  51.60   927  55.66
 1  in Americas  2012-2014    5    10   1   462  161*  51.33  1129  40.92
 2      in Asia  2010-2023   22    39   2  1864  200*  50.37  3940  47.30
 3    in Europe  2013-2022    8    16   1   458   132  30.53  1171  39.11
 4   in Oceania  2011-2023   50    84   9  4487   251  59.82  8117  55.27

    100s  50s  0s   4s  6s
 0     1    4   0   54   2
 1     2    1   1   54   0
 2     6    7   3  180   3
 3     1    2   1   57   0
 4    16   19   5  518  13  ,
   Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF     SR  100s  \
 0       home  2011-2023   43    70   8  3930   251  63.38  7250  54.20    14
 1       away  2010-2023   42    78   5  3109  200*  42.58  6623  46.94    10
 2    neutral  2014-2021    7    13   2   748   192  68.00  1411  53.01     2

    50s  0s   4s  6s
 0   18   3  440  13
 1   12   7  347   4
 2    3   0   76   1  ,
    Unnamed: 0  Mat  Inns  NO  Runs    HS    Avg    BF     SR  100s  50s  0s  \
 0   year 2010    3     5   0   212   131  42.40   485  43.71     1    1   1
 1   year 2011    5    10   0   276    68  27.60   569  48.50     0    2   1
 2   year 2012   10    18   1   559   135  32.88  1474  37.92     2    2   3
 3   year 2013   11    19   1   747   114  41.50  1731  43.15     1    7   0
 4   year 2014    9    17   2   929   192  61.93  1838  50.54     4    2   0
 5   year 2015    8    16   3  1172  242*  90.15  1955  59.94     5    4   1
 6   year 2016   10    18   2   753   113  47.06  1410  53.40     1    6   0
 7   year 2017    7    10   1   566   176  62.88   859  65.89     3    2   0
 8   year 2018    7    12   1   651   139  59.18  1195  54.47     2    3   1
 9   year 2019    8    12   2   514  200*  51.40   858  59.90     2    2   2
 10  year 2020    4     6   0   498   251  83.00   911  54.66     2    1   0
 11  year 2021    4     7   1   395   238  65.83   858  46.03     1    1   0
 12  year 2022    3     5   1   296  200*  74.00   630  46.98     1    0   0
 13  year 2023    3     6   0   219   132  36.50   511  42.85     1    0   1

      4s  6s
 0    19   0
 1    32   1
 2    51   0
 3    86   2
 4   102   3
 5   136   1
 6    77   2
 7    70   3
 8    61   1
 9    60   1
 10   60   3
 11   49   0
 12   36   1
 13   24   0  ,
         Unnamed: 0  Mat  Inns  NO  Runs    HS     Avg    BF     SR  100s  50s  \
 0   season 2010/11    5     9   0   299   131   33.22   698  42.83     1    2
 1   season 2011/12    7    12   1   422  102*   38.36   930  45.37     1    2
 2      season 2012    4     8   0   163    52   20.37   516  31.58     0    1
 3   season 2012/13    7    13   1   419   135   34.91  1026  40.83     1    2
 4      season 2013    2     4   0    82    60   20.50   264  31.06     0    1
 5   season 2013/14    6    10   0   579   114   57.90  1136  50.96     2    4
 6      season 2014    3     6   1   413  161*   82.60   949  43.51     2    1
 7   season 2014/15    5     9   2   657  242*   93.85  1131  58.09     2    2
 8      season 2015    2     4   0   165   132   41.25   354  46.61     1    0
 9   season 2015/16    7    14   2   838   166   69.83  1389  60.33     3    4
 10     season 2016    4     6   2   356   113   89.00   593  60.03     1    3
 11  season 2016/17    9    15   1   723   176   51.64  1165  62.06     3    3
 12  season 2017/18    4     6   0   222   102   37.00   439  50.56     1    1
 13  season 2018/19    7    11   2   801  200*   89.00  1288  62.18     2    4
 14     season 2019    2     3   0    24    20    8.00    56  42.85     0    0
 15  season 2019/20    6    10   1   313  104*   34.77   609  51.39     1    2
 16  season 2020/21    3     4   0   639   251  159.75  1106  57.77     3    0
 17     season 2021    2     4   1   115   52*   38.33   318  36.16     0    1
 18  season 2021/22    1     2   0    42    24   21.00   176  23.86     0    0
 19     season 2022    2     4   0    96    48   24.00   235  40.85     0    0
 20  season 2022/23    4     7   1   419  200*   69.83   906  46.24     2    0

     0s   4s  6s
 0    1   28   0
 1    2   47   1
 2    1   14   0
 3    1   52   0
 4    0    7   0
 5    0   56   4
 6    0   51   0
 7    0   62   1
 8    1   19   0
 9    0  105   1
 10   0   33   1
 11   0   86   4
 12   1   25   1
 13   0   79   1
 14   1    2   0
 15   1   40   0
 16   0   76   3
 17   0   16   0
 18   0    5   0
 19   0   15   0
 20   1   45   1  ,
        Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF     SR  \
 0    *BB McCullum  2013-2016   30    56   6  2990  242*  59.80  5865  50.98
 1     *TG Southee  2022-2023    4     7   1   419  200*  69.83   906  46.24
 2    *LRPL Taylor  2011-2012   13    24   1   748   135  32.52  1830  40.87
 3     *DL Vettori  2010-2011    5     9   0   299   131  33.22   698  42.83
 4  *KS Williamson  2016-2022   40    65   7  3331   251  57.43  5985  55.65

    100s  50s  0s   4s  6s
 0    10   14   1  339   6
 1     2    0   1   45   1
 2     2    3   4   74   1
 3     1    2   1   28   0
 4    11   14   3  377  10  ,
        Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF     SR  \
 0      is captain  2016-2022   40    65   7  3331   251  57.43  5985  55.65
 1  is not captain  2010-2023   52    96   8  4456  242*  50.63  9299  47.91

    100s  50s  0s   4s  6s
 0    11   14   3  377  10
 1    15   19   7  486   8  ,
       Unnamed: 0       Span  Mat  Inns  NO  Runs   HS    Avg     BF     SR  \
 0  is not keeper  2010-2023   92   161  15  7787  251  53.33  15284  50.94

    100s  50s  0s   4s  6s
 0    26   33  10  863  18  ,
       Unnamed: 0       Span  Mat  Inns  NO  Runs   HS    Avg    BF     SR  \
 0   won the toss  2010-2023   48    86   8  3906  238  50.07  7743  50.44
 1  lost the toss  2010-2022   44    75   7  3881  251  57.07  7541  51.46

    100s  50s  0s   4s  6s
 0    14   17   8  424   7
 1    12   16   2  439  11  ,
             Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF  \
 0    won toss & batted  2010-2023   24    48   2  1868  161*  40.60  4065
 1   won toss & fielded  2012-2023   24    38   6  2038   238  63.68  3678
 2  lost toss & sent in  2011-2020   22    41   3  1939   251  51.02  3867
 3  lost toss & fielded  2010-2022   22    34   4  1942  200*  64.73  3674

       SR  100s  50s  0s   4s  6s
 0  45.95     6    7   5  195   2
 1  55.41     8   10   3  229   5
 2  50.14     5    9   2  214   6
 3  52.85     7    7   0  225   5  ,
                Unnamed: 0       Span  Mat  Inns  NO  Runs   HS    Avg    BF  \
 0   matches batting first  2010-2023   46    89   5  3807  251  45.32  7932
 1  matches fielding first  2010-2023   46    72  10  3980  238  64.19  7352

       SR  100s  50s  0s   4s  6s
 0  47.99    11   16   7  409   8
 1  54.13    15   17   3  454  10  ,
          Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF     SR  \
 0  1st team innings  2010-2023   92    92   4  5026   251  57.11  9598  52.36
 1  2nd team innings  2010-2023   74    69  11  2761  242*  47.60  5686  48.55

    100s  50s  0s   4s  6s
 0    18   18   5  572  14
 1     8   15   5  291   4  ,
           Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF  \
 0  1st match innings  2010-2023   46    46   0  2059   251  44.76  4209
 1  2nd match innings  2010-2023   46    46   4  2967   238  70.64  5389
 2  3rd match innings  2010-2023   47    47   5  1997  242*  47.54  4340
 3  4th match innings  2010-2023   27    22   6   764  108*  47.75  1346

       SR  100s  50s  0s   4s  6s
 0  48.91     7    7   5  232   6
 1  55.05    11   11   0  340   8
 2  46.01     5   11   2  205   2
 3  56.76     3    4   3   86   2  ,
         Unnamed: 0       Span  Mat  Inns  NO  Runs   HS    Avg     BF     SR  \
 0        day match  2010-2023   88   154  15  7600  251  54.67  14878  51.08
 1  day/night match  2015-2023    4     7   0   187  102  26.71    406  46.05

    100s  50s  0s   4s  6s
 0    25   33   9  838  17
 1     1    0   1   25   1  ,
     Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF     SR  \
 0    won match  2011-2023   38    62   8  4230   251  78.33  7494  56.44
 1   lost match  2010-2023   31    62   1  1545   140  25.32  3539  43.65
 2  drawn match  2010-2023   23    37   6  2012  200*  64.90  4251  47.33

    100s  50s  0s   4s  6s
 0    16   18   1  463  12
 1     2    9   8  181   1
 2     8    6   1  219   5  ,
              Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF  \
 0     won batting first  2011-2020   20    37   4  2480   251  75.15  4642
 1    won fielding first  2013-2023   18    25   4  1750   238  83.33  2852
 2    lost batting first  2010-2022   17    34   0   642    97  18.88  1747
 3   lost fielding first  2012-2023   14    28   1   903   140  33.44  1792
 4   drawn batting first  2010-2023    9    18   1   685   114  40.29  1543
 5  drawn fielding first  2010-2022   14    19   5  1327  200*  94.78  2708

       SR  100s  50s  0s   4s  6s
 0  53.42     9    9   1  262   7
 1  61.36     7    9   0  201   5
 2  36.74     0    4   6   73   0
 3  50.39     2    5   2  108   1
 4  44.39     2    3   0   74   1
 5  49.00     6    3   1  145   4  ,
             Unnamed: 0       Span  Mat  Inns  NO  Runs   HS    Avg     BF  \
 0        2 team series  2010-2023   92   161  15  7787  251  53.33  15284
 1  5+ team tournaments  2019-2023   15    25   2  1333  251  57.95   2702

       SR  100s  50s  0s   4s  6s
 0  50.94    26   33  10  863  18
 1  49.33     4    2   2  166   4  ,
              Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg    BF  \
 0  only match in series  2011-2021    3     5   1   222    68  55.50   506
 1   1st match in series  2010-2023   41    68   5  3439   251  54.58  6631
 2   2nd match in series  2010-2023   37    68   7  2826  242*  46.32  5712
 3   3rd match in series  2010-2022   11    20   2  1300   192  72.22  2435

       SR  100s  50s  0s   4s  6s
 0  43.87     0    2   0   28   1
 1  51.86    13   16   5  379   9
 2  49.47     8   11   4  303   4
 3  53.38     5    4   1  153   4  ,
              Unnamed: 0       Span  Mat  Inns  NO  Runs   HS    Avg    BF  \
 0  ICC World Test Champ  2019-2023   15    25   2  1333  251  57.95  2702
 1   Trans-Tasman Trophy  2011-2019    9    18   1   699  166  41.11  1208

       SR  100s  50s  0s   4s  6s
 0  49.33     4    2   2  166   4
 1  57.86     2    2   2   93   0  ,
             Unnamed: 0       Span  Mat  Inns  NO  Runs   HS    Avg    BF  \
 0    tournament finals  2021-2021    1     2   1   101  52*  101.0   266
 1  preliminary matches  2019-2023   14    23   1  1232  251   56.0  2436

       SR  100s  50s  0s   4s  6s
 0  37.96     0    1   0   14   0
 1  50.57     4    1   2  152   4  ,
      Unnamed: 0       Span  Mat  Inns  NO  Runs    HS    Avg     BF     SR  \
 0  3rd position  2011-2023   82   141  14  7169   251  56.44  13714  52.27
 1  4th position  2011-2021    3     3   1   126  102*  63.00    342  36.84
 2  5th position  2010-2012    6     8   0   202    77  25.25    494  40.89
 3  6th position  2010-2012    5     7   0   278   131  39.71    697  39.88
 4  7th position  2010-2010    2     2   0    12     8   6.00     37  32.43

    100s  50s  0s   4s  6s
 0    24   30   6  803  18
 1     1    0   1   12   0
 2     0    1   2   22   0
 3     1    2   1   26   0
 4     0    0   0    0   0  ]

In [28]:
type(dfh)

list

In [29]:
len(dfh)

23

In [31]:
dfh[0]

,Unnamed: 0,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,overview,2010-2023,92,161,15,7787,251,53.33,15284,50.94,26,33,10,863,18

In [32]:
dfh[1]

,Unnamed: 0,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,vs Australia,2011-2019,9,18,1,699,166,41.11,1208,57.86,2,2,2,93,0
1,vs Bangladesh,2013-2019,6,8,2,683,200*,113.83,1020,66.96,3,4,0,73,2
2,vs England,2013-2023,16,29,2,995,132,36.85,2366,42.05,4,4,3,118,1
3,vs India,2010-2021,13,24,1,871,131,37.86,1997,43.61,2,5,1,93,2
4,vs Pakistan,2011-2023,14,25,2,1519,238,66.04,2867,52.98,5,4,0,158,4
5,vs South Africa,2012-2017,10,16,2,665,176,47.50,1370,48.54,3,2,1,73,4
6,vs Sri Lanka,2012-2019,10,18,3,992,242*,66.13,1758,56.42,3,5,2,95,1
7,vs West Indies,2012-2020,10,17,1,970,251,60.62,2025,47.90,3,4,1,121,3
8,vs Zimbabwe,2011-2016,4,6,1,393,113,78.60,673,58.39,1,3,0,39,1

In [34]:
dfh[22]

,Unnamed: 0,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,3rd position,2011-2023,82,141,14,7169,251,56.44,13714,52.27,24,30,6,803,18
1,4th position,2011-2021,3,3,1,126,102*,63.00,342,36.84,1,0,1,12,0
2,5th position,2010-2012,6,8,0,202,77,25.25,494,40.89,0,1,2,22,0
3,6th position,2010-2012,5,7,0,278,131,39.71,697,39.88,1,2,1,26,0
4,7th position,2010-2010,2,2,0,12,8,6.00,37,32.43,0,0,0,0,0

In [35]:
type(dfh[2])

pandas.core.frame.DataFrame

In [40]:
import os
ori=os.getcwd()
os.mkdir(ori+'\\kanestats')
os.chdir(ori+'\\kanestats')
count=0
for i in dfh:
    count+=1
    i.to_csv('kane_'+str(count)+'_.csv',index=False)
os.chdir(ori)

In [1]:
pwd()

'C:\\Users\\91868\\Data Science\\pandas'

In [1]:
import pandas as pd

In [2]:
ff=pd.read_csv('uk-500.csv')

In [4]:
ff.to_pickle('newpickle')

In [5]:
ff

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [6]:
ff1=pd.read_pickle('newpickle')

In [7]:
ff1

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [8]:
newh5=pd.HDFStore('newh5.h5')

In [9]:
type(newh5)

pandas.io.pytables.HDFStore

In [10]:
newh5['ff']=ff

In [11]:
f1=newh5['ff']

In [12]:
f1

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [13]:
newh5.close()

In [14]:
newh5

<class 'pandas.io.pytables.HDFStore'>
File path: newh5.h5

In [15]:
type(f1)

pandas.core.frame.DataFrame

In [17]:
newh5.open()

In [18]:
newh5.items()

In [19]:
newh5.keys()

['/ff']

In [21]:
newh5.root

/ (RootGroup) ''
  children := ['ff' (Group)]

In [22]:
newh5.put('ff2',ff1,format='table',index=False)

In [23]:
newh5['ff2']

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [24]:
newh5.put('ff3',ff1,format='table',index=True)

In [25]:
newh5['ff3']

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [29]:
newh5.select('ff2',where=['index>=5 and index<=15'])

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
5,Eric,Rampy,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
6,Marg,Grasmick,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
7,Laquita,Hisaw,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk
8,Lura,Manzella,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
9,Yuette,Klapec,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk
10,Fernanda,Writer,K & R Associates Inc,620 Northampton St,Wilmington,Kent,DA2 7PP,01630-202053,01687-879391,fernanda@writer.co.uk,http://www.krassociatesinc.co.uk
11,Charlesetta,Erm,"Cain, John M Esq",5 Hygeia St,Loundsley Green Ward,Derbyshire,S40 4LY,01276-816806,01517-624517,charlesetta_erm@gmail.com,http://www.cainjohnmesq.co.uk
12,Corrinne,Jaret,Sound Vision Corp,2150 Morley St,Dee Ward,Dumfries and Galloway,DG8 7DE,01625-932209,01642-322954,corrinne_jaret@gmail.com,http://www.soundvisioncorp.co.uk
13,Niesha,Bruch,Rowley/hansell Petetin,24 Bolton St,"Broxburn, Uphall and Winchburg",West Lothian,EH52 5TL,01874-856950,01342-793603,niesha.bruch@yahoo.com,http://www.rowleyhansellpetetin.co.uk
14,Rueben,Gastellum,Industrial Engineering Assocs,4 Forrest St,Weston-Super-Mare,North Somerset,BS23 3HG,01976-755279,01956-535511,rueben_gastellum@gastellum.co.uk,http://www.industrialengineeringassocs.co.uk
15,Michell,Throssell,Weiss Spirt & Guyer,89 Noon St,Carbrooke,Norfolk,IP25 6JQ,01967-580851,01672-496478,mthrossell@throssell.co.uk,http://www.weissspirtguyer.co.uk

In [30]:
newh5

<class 'pandas.io.pytables.HDFStore'>
File path: newh5.h5

In [32]:
df=pd.read_csv('nw.csv')

In [33]:
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [34]:
df.dtypes

Symbol             object
Name               object
Sector             object
Price             float64
Price/Earnings    float64
Dividend Yield    float64
Earnings/Share    float64
52 Week Low       float64
52 Week High      float64
Market Cap          int64
EBITDA            float64
Price/Sales       float64
Price/Book        float64
SEC Filings        object
dtype: object

In [36]:
df.describe(percentiles=None)

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
count,505.000000,503.000000,505.000000,505.000000,505.000000,505.000000,5.050000e+02,5.050000e+02,505.000000,497.000000
mean,103.830634,24.808390,1.895953,3.753743,122.623832,83.536616,4.923944e+10,3.590328e+09,3.941705,14.453179
std,134.427636,41.241081,1.537214,5.689036,155.362140,105.725473,9.005017e+10,6.840544e+09,3.460110,89.660508
min,2.820000,-251.530000,0.000000,-28.010000,6.590000,2.800000,2.626102e+09,-5.067000e+09,0.153186,0.510000
25%,46.250000,15.350000,0.794834,1.490000,56.250000,38.430000,1.273207e+10,7.739320e+08,1.629490,2.020000
50%,73.920000,19.450000,1.769255,2.890000,86.680000,62.850000,2.140095e+10,1.614399e+09,2.896440,3.400000
75%,116.540000,25.750000,2.781114,5.140000,140.130000,96.660000,4.511968e+10,3.692749e+09,4.703842,6.110000
max,1806.060000,520.150000,12.661196,44.090000,2067.990000,1589.000000,8.095080e+11,7.938600e+10,20.094294,1403.380000

In [42]:
df.describe(include=[object,'category'])

,Symbol,Name,Sector,SEC Filings
count,505,505,505,505
unique,505,505,11,505
top,MMM,3M Company,Consumer Discretionary,http://www.sec.gov/cgi-bin/browse-edgar?action...
freq,1,1,84,1

In [43]:
df.columns

Index(['Symbol', 'Name', 'Sector', 'Price', 'Price/Earnings', 'Dividend Yield',
       'Earnings/Share', '52 Week Low', '52 Week High', 'Market Cap', 'EBITDA',
       'Price/Sales', 'Price/Book', 'SEC Filings'],
      dtype='object')

In [44]:
df.dtypes=='object'

Symbol             True
Name               True
Sector             True
Price             False
Price/Earnings    False
Dividend Yield    False
Earnings/Share    False
52 Week Low       False
52 Week High      False
Market Cap        False
EBITDA            False
Price/Sales       False
Price/Book        False
SEC Filings        True
dtype: bool

In [45]:
df.dtypes[df.dtypes=='object']

Symbol         object
Name           object
Sector         object
SEC Filings    object
dtype: object

In [47]:
l=(df.dtypes)

In [48]:
l

Symbol             object
Name               object
Sector             object
Price             float64
Price/Earnings    float64
Dividend Yield    float64
Earnings/Share    float64
52 Week Low       float64
52 Week High      float64
Market Cap          int64
EBITDA            float64
Price/Sales       float64
Price/Book        float64
SEC Filings        object
dtype: object

In [49]:
len(l)

14

In [53]:
l[7]

dtype('float64')

In [58]:
l['Symbol']

dtype('O')

In [61]:
l.items

<bound method Series.items of Symbol             object
Name               object
Sector             object
Price             float64
Price/Earnings    float64
Dividend Yield    float64
Earnings/Share    float64
52 Week Low       float64
52 Week High      float64
Market Cap          int64
EBITDA            float64
Price/Sales       float64
Price/Book        float64
SEC Filings        object
dtype: object>

In [67]:
type(l)

pandas.core.series.Series

In [68]:
type(df)

pandas.core.frame.DataFrame

In [69]:
l.index

Index(['Symbol', 'Name', 'Sector', 'Price', 'Price/Earnings', 'Dividend Yield',
       'Earnings/Share', '52 Week Low', '52 Week High', 'Market Cap', 'EBITDA',
       'Price/Sales', 'Price/Book', 'SEC Filings'],
      dtype='object')

In [72]:
for i in l.index:
    if l[i]=='object':
        print(i)

Symbol
Name
Sector
SEC Filings

In [73]:
df.dtypes[df.dtypes=='object'].index

Index(['Symbol', 'Name', 'Sector', 'SEC Filings'], dtype='object')

In [75]:
df1=df[df.dtypes[df.dtypes=='object'].index]

In [76]:
df1.describe()

,Symbol,Name,Sector,SEC Filings
count,505,505,505,505
unique,505,505,11,505
top,MMM,3M Company,Consumer Discretionary,http://www.sec.gov/cgi-bin/browse-edgar?action...
freq,1,1,84,1

In [78]:
type(df[['Name','Price']])

pandas.core.frame.DataFrame

In [80]:
type(df['Name'])

pandas.core.series.Series

In [90]:
df[["Name"]]

                       Name
0                3M Company
1           A.O. Smith Corp
2       Abbott Laboratories
3               AbbVie Inc.
4             Accenture plc
..                      ...
500              Xylem Inc.
501         Yum! Brands Inc
502  Zimmer Biomet Holdings
503           Zions Bancorp
504                  Zoetis

[505 rows x 1 columns]

In [86]:
df.index

RangeIndex(start=0, stop=505, step=1)

In [89]:
df['Name'][5:25]

5                     Activision Blizzard
6                       Acuity Brands Inc
7                       Adobe Systems Inc
8                      Advance Auto Parts
9              Advanced Micro Devices Inc
10                               AES Corp
11                              Aetna Inc
12          Affiliated Managers Group Inc
13                              AFLAC Inc
14               Agilent Technologies Inc
15           Air Products & Chemicals Inc
16                Akamai Technologies Inc
17                   Alaska Air Group Inc
18                         Albemarle Corp
19    Alexandria Real Estate Equities Inc
20                Alexion Pharmaceuticals
21                       Align Technology
22                               Allegion
23                          Allergan, Plc
24                  Alliance Data Systems
Name: Name, dtype: object

In [91]:
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [96]:
for i in df.columns:
    print(df[i],df[[i]])

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
500     XYL
501     YUM
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object     Symbol
0      MMM
1      AOS
2      ABT
3     ABBV
4      ACN
..     ...
500    XYL
501    YUM
502    ZBH
503   ZION
504    ZTS

[505 rows x 1 columns]
0                  3M Company
1             A.O. Smith Corp
2         Abbott Laboratories
3                 AbbVie Inc.
4               Accenture plc
                ...
500                Xylem Inc.
501           Yum! Brands Inc
502    Zimmer Biomet Holdings
503             Zions Bancorp
504                    Zoetis
Name: Name, Length: 505, dtype: object                        Name
0                3M Company
1           A.O. Smith Corp
2       Abbott Laboratories
3               AbbVie Inc.
4             Accenture plc
..                      ...
500              Xylem Inc.
501         Yum! Brands Inc
502  Zimmer Biomet Holdings
503           Zions Bancorp
504                  Zoetis

[505 rows x 1 columns]
0                 Industrials
1                 Industrials
2                 Health Care
3                 Health Care
4      Information Technology
                ...
500               Industrials
501    Consumer Discretionary
502               Health Care
503                Financials
504               Health Care
Name: Sector, Length: 505, dtype: object                      Sector
0               Industrials
1               Industrials
2               Health Care
3               Health Care
4    Information Technology
..                      ...
500             Industrials
501  Consumer Discretionary
502             Health Care
503              Financials
504             Health Care

[505 rows x 1 columns]
0      222.89
1       60.24
2       56.27
3      108.48
4      150.51
        ...
500     70.24
501     76.30
502    115.53
503     50.71
504     71.51
Name: Price, Length: 505, dtype: float64       Price
0    222.89
1     60.24
2     56.27
3    108.48
4    150.51
..      ...
500   70.24
501   76.30
502  115.53
503   50.71
504   71.51

[505 rows x 1 columns]
0      24.31
1      27.76
2      22.51
3      19.41
4      25.47
       ...
500    30.94
501    27.25
502    14.32
503    17.73
504    32.80
Name: Price/Earnings, Length: 505, dtype: float64      Price/Earnings
0             24.31
1             27.76
2             22.51
3             19.41
4             25.47
..              ...
500           30.94
501           27.25
502           14.32
503           17.73
504           32.80

[505 rows x 1 columns]
0      2.332862
1      1.147959
2      1.908982
3      2.499560
4      1.714470
         ...
500    1.170079
501    1.797080
502    0.794834
503    1.480933
504    0.682372
Name: Dividend Yield, Length: 505, dtype: float64      Dividend Yield
0          2.332862
1          1.147959
2          1.908982
3          2.499560
4          1.714470
..              ...
500        1.170079
501        1.797080
502        0.794834
503        1.480933
504        0.682372

[505 rows x 1 columns]
0      7.92
1      1.70
2      0.26
3      3.29
4      5.44
       ...
500    1.83
501    4.07
502    9.01
503    2.60
504    1.65
Name: Earnings/Share, Length: 505, dtype: float64      Earnings/Share
0              7.92
1              1.70
2              0.26
3              3.29
4              5.44
..              ...
500            1.83
501            4.07
502            9.01
503            2.60
504            1.65

[505 rows x 1 columns]
0      259.77
1       68.39
2       64.60
3      125.86
4      162.60
        ...
500     76.81
501     86.93
502    133.49
503     55.61
504     80.13
Name: 52 Week Low, Length: 505, dtype: float64      52 Week Low
0         259.77
1          68.39
2          64.60
3         125.86
4         162.60
..           ...
500        76.81
501        86.93
502       133.49
503        55.61
504        80.13

[505 rows x 1 columns]
0      175.490
1       48.925
2       42.280
3       60.050
4      114.820
        ...
500     46.860
501     62.850
502    108.170
503     38.430
504     52.000
Name: 52 Week High, Length: 505, dtype: float64      52 Week High
0         175.490
1          48.925
2          42.280
3          60.050
4         114.820
..            ...
500        46.860
501        62.850
502       108.170
503        38.430
504        52.000

[505 rows x 1 columns]
0      138721055226
1       10783419933
2      102121042306
3      181386347059
4       98765855553
           ...
500     12915021000
501     27003303098
502     24454698119
503     10670678640
504     35991109776
Name: Market Cap, Length: 505, dtype: int64        Market Cap
0    138721055226
1     10783419933
2    102121042306
3    181386347059
4     98765855553
..            ...
500   12915021000
501   27003303098
502   24454698119
503   10670678640
504   35991109776

[505 rows x 1 columns]
0      9.048000e+09
1      6.010000e+08
2      5.744000e+09
3      1.031000e+10
4      5.643228e+09
           ...
500    7.220000e+08
501    2.289000e+09
502    2.007400e+09
503    0.000000e+00
504    1.734000e+09
Name: EBITDA, Length: 505, dtype: float64            EBITDA
0    9.048000e+09
1    6.010000e+08
2    5.744000e+09
3    1.031000e+10
4    5.643228e+09
..            ...
500  7.220000e+08
501  2.289000e+09
502  2.007400e+09
503  0.000000e+00
504  1.734000e+09

[505 rows x 1 columns]
0      4.390271
1      3.575483
2      3.740480
3      6.291571
4      2.604117
         ...
500    2.726209
501    6.313636
502    3.164895
503    3.794579
504    9.280896
Name: Price/Sales, Length: 505, dtype: float64      Price/Sales
0       4.390271
1       3.575483
2       3.740480
3       6.291571
4       2.604117
..           ...
500     2.726209
501     6.313636
502     3.164895
503     3.794579
504     9.280896

[505 rows x 1 columns]
0       11.34
1        6.35
2        3.19
3       26.14
4       10.62
        ...
500      5.31
501    212.08
502      2.39
503      1.42
504     18.09
Name: Price/Book, Length: 505, dtype: float64      Price/Book
0         11.34
1          6.35
2          3.19
3         26.14
4         10.62
..          ...
500        5.31
501      212.08
502        2.39
503        1.42
504       18.09

[505 rows x 1 columns]
0      http://www.sec.gov/cgi-bin/browse-edgar?action...
1      http://www.sec.gov/cgi-bin/browse-edgar?action...
2      http://www.sec.gov/cgi-bin/browse-edgar?action...
3      http://www.sec.gov/cgi-bin/browse-edgar?action...
4      http://www.sec.gov/cgi-bin/browse-edgar?action...
                             ...
500    http://www.sec.gov/cgi-bin/browse-edgar?action...
501    http://www.sec.gov/cgi-bin/browse-edgar?action...
502    http://www.sec.gov/cgi-bin/browse-edgar?action...
503    http://www.sec.gov/cgi-bin/browse-edgar?action...
504    http://www.sec.gov/cgi-bin/browse-edgar?action...
Name: SEC Filings, Length: 505, dtype: object                                            SEC Filings
0    http://www.sec.gov/cgi-bin/browse-edgar?action...
1    http://www.sec.gov/cgi-bin/browse-edgar?action...
2    http://www.sec.gov/cgi-bin/browse-edgar?action...
3    http://www.sec.gov/cgi-bin/browse-edgar?action...
4    http://www.sec.gov/cgi-bin/browse-edgar?action...
..                                                 ...
500  http://www.sec.gov/cgi-bin/browse-edgar?action...
501  http://www.sec.gov/cgi-bin/browse-edgar?action...
502  http://www.sec.gov/cgi-bin/browse-edgar?action...
503  http://www.sec.gov/cgi-bin/browse-edgar?action...
504  http://www.sec.gov/cgi-bin/browse-edgar?action...

[505 rows x 1 columns]

In [97]:
df['newcol']='vamsi'

In [98]:
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi

In [99]:
df['new2']=list(range(505))

In [100]:
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,0
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,1
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,2
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,3
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,500
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,501
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,502
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,503
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,504

In [101]:
df['new3']=list(range(300))

ValueError: Length of values (300) does not match length of index (505)

In [102]:
df['new3']=df['Price/Book']

In [103]:
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2,new3
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,0,11.34
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,1,6.35
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,2,3.19
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,3,26.14
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,4,10.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,500,5.31
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,501,212.08
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,502,2.39
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,503,1.42
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,504,18.09

In [105]:
df.describe(include='all')

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2,new3
count,505,505,505,505.000000,503.000000,505.000000,505.000000,505.000000,505.000000,5.050000e+02,5.050000e+02,505.000000,497.000000,505,505,505.000000,497.000000
unique,505,505,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,505,1,NaN,NaN
top,MMM,3M Company,Consumer Discretionary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,NaN,NaN
freq,1,1,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,505,NaN,NaN
mean,NaN,NaN,NaN,103.830634,24.808390,1.895953,3.753743,122.623832,83.536616,4.923944e+10,3.590328e+09,3.941705,14.453179,NaN,NaN,252.000000,14.453179
std,NaN,NaN,NaN,134.427636,41.241081,1.537214,5.689036,155.362140,105.725473,9.005017e+10,6.840544e+09,3.460110,89.660508,NaN,NaN,145.925209,89.660508
min,NaN,NaN,NaN,2.820000,-251.530000,0.000000,-28.010000,6.590000,2.800000,2.626102e+09,-5.067000e+09,0.153186,0.510000,NaN,NaN,0.000000,0.510000
25%,NaN,NaN,NaN,46.250000,15.350000,0.794834,1.490000,56.250000,38.430000,1.273207e+10,7.739320e+08,1.629490,2.020000,NaN,NaN,126.000000,2.020000
50%,NaN,NaN,NaN,73.920000,19.450000,1.769255,2.890000,86.680000,62.850000,2.140095e+10,1.614399e+09,2.896440,3.400000,NaN,NaN,252.000000,3.400000
75%,NaN,NaN,NaN,116.540000,25.750000,2.781114,5.140000,140.130000,96.660000,4.511968e+10,3.692749e+09,4.703842,6.110000,NaN,NaN,378.000000,6.110000
max,NaN,NaN,NaN,1806.060000,520.150000,12.661196,44.090000,2067.990000,1589.000000,8.095080e+11,7.938600e+10,20.094294,1403.380000,NaN,NaN,504.000000,1403.380000

In [106]:
df['Sector']

0                 Industrials
1                 Industrials
2                 Health Care
3                 Health Care
4      Information Technology
                ...
500               Industrials
501    Consumer Discretionary
502               Health Care
503                Financials
504               Health Care
Name: Sector, Length: 505, dtype: object

In [107]:
pd.Categorical(df['Sector'])

['Industrials', 'Industrials', 'Health Care', 'Health Care', 'Information Technology', ..., 'Industrials', 'Consumer Discretionary', 'Health Care', 'Financials', 'Health Care']
Length: 505
Categories (11, object): ['Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials', ..., 'Materials', 'Real Estate', 'Telecommunication Services', 'Utilities']

In [108]:
df['new4']=pd.Categorical(df['Sector'])

In [109]:
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2,new3,new4
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,0,11.34,Industrials
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,1,6.35,Industrials
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,2,3.19,Health Care
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,3,26.14,Health Care
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,4,10.62,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,500,5.31,Industrials
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,501,212.08,Consumer Discretionary
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,502,2.39,Health Care
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,503,1.42,Financials
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,504,18.09,Health Care

In [110]:
df.dtypes

Symbol              object
Name                object
Sector              object
Price              float64
Price/Earnings     float64
Dividend Yield     float64
Earnings/Share     float64
52 Week Low        float64
52 Week High       float64
Market Cap           int64
EBITDA             float64
Price/Sales        float64
Price/Book         float64
SEC Filings         object
newcol              object
new2                 int64
new3               float64
new4              category
dtype: object

In [111]:
df.describe(include=['category'])

                          new4
count                      505
unique                      11
top     Consumer Discretionary
freq                        84

In [114]:
type(df['new4'])

pandas.core.series.Series

In [115]:
df['new4']

0                 Industrials
1                 Industrials
2                 Health Care
3                 Health Care
4      Information Technology
                ...
500               Industrials
501    Consumer Discretionary
502               Health Care
503                Financials
504               Health Care
Name: new4, Length: 505, dtype: category
Categories (11, object): ['Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials', ..., 'Materials', 'Real Estate', 'Telecommunication Services', 'Utilities']

In [119]:
#df.describe(include='all')
df['Sector'].uniqueque()

array(['Industrials', 'Health Care', 'Information Technology',
       'Consumer Discretionary', 'Utilities', 'Financials', 'Materials',
       'Real Estate', 'Consumer Staples', 'Energy',
       'Telecommunication Services'], dtype=object)

In [120]:
df.describe(include='all')

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2,new3,new4
count,505,505,505,505.000000,503.000000,505.000000,505.000000,505.000000,505.000000,5.050000e+02,5.050000e+02,505.000000,497.000000,505,505,505.000000,497.000000,505
unique,505,505,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,505,1,NaN,NaN,11
top,MMM,3M Company,Consumer Discretionary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,NaN,NaN,Consumer Discretionary
freq,1,1,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,505,NaN,NaN,84
mean,NaN,NaN,NaN,103.830634,24.808390,1.895953,3.753743,122.623832,83.536616,4.923944e+10,3.590328e+09,3.941705,14.453179,NaN,NaN,252.000000,14.453179,NaN
std,NaN,NaN,NaN,134.427636,41.241081,1.537214,5.689036,155.362140,105.725473,9.005017e+10,6.840544e+09,3.460110,89.660508,NaN,NaN,145.925209,89.660508,NaN
min,NaN,NaN,NaN,2.820000,-251.530000,0.000000,-28.010000,6.590000,2.800000,2.626102e+09,-5.067000e+09,0.153186,0.510000,NaN,NaN,0.000000,0.510000,NaN
25%,NaN,NaN,NaN,46.250000,15.350000,0.794834,1.490000,56.250000,38.430000,1.273207e+10,7.739320e+08,1.629490,2.020000,NaN,NaN,126.000000,2.020000,NaN
50%,NaN,NaN,NaN,73.920000,19.450000,1.769255,2.890000,86.680000,62.850000,2.140095e+10,1.614399e+09,2.896440,3.400000,NaN,NaN,252.000000,3.400000,NaN
75%,NaN,NaN,NaN,116.540000,25.750000,2.781114,5.140000,140.130000,96.660000,4.511968e+10,3.692749e+09,4.703842,6.110000,NaN,NaN,378.000000,6.110000,NaN
max,NaN,NaN,NaN,1806.060000,520.150000,12.661196,44.090000,2067.990000,1589.000000,8.095080e+11,7.938600e+10,20.094294,1403.380000,NaN,NaN,504.000000,1403.380000,NaN

In [131]:
print(df['Price/Book'][df['Price/Book'].isnull()])
print(df['Price/Book'][df['Price/Book'].isnull()==False])
print(df['Price/Book'][df['Price/Book'].isnull()].index)

55    NaN
199   NaN
225   NaN
292   NaN
346   NaN
358   NaN
450   NaN
460   NaN
Name: Price/Book, dtype: float64
0       11.34
1        6.35
2        3.19
3       26.14
4       10.62
        ...
500      5.31
501    212.08
502      2.39
503      1.42
504     18.09
Name: Price/Book, Length: 497, dtype: float64
Int64Index([55, 199, 225, 292, 346, 358, 450, 460], dtype='int64')

In [133]:
s=df['Price/Book'][df['Price/Book'].isnull()].index
df.iloc[s]

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2,new3,new4
55,ARNC,Arconic Inc,Industrials,24.45,20.21,0.956175,-0.21,31.17,21.755,12123300000,1.517000e+09,0.942148,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,55,NaN,Industrials
199,FL,Foot Locker Inc,Consumer Discretionary,45.88,9.50,2.582795,4.91,77.86,28.420,5819080328,9.570000e+08,1.036295,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,199,NaN,Consumer Discretionary
225,HCA,HCA Holdings,Health Care,95.97,14.07,1.422764,5.94,106.84,71.180,34449052800,8.202000e+09,0.725192,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,225,NaN,Health Care
292,MRO,Marathon Oil Corp.,Energy,15.68,-32.00,1.224740,-2.65,19.52,10.550,13875005314,2.266000e+09,4.657876,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,292,NaN,Energy
346,OXY,Occidental Petroleum,Energy,68.47,195.63,4.408186,-0.75,78.09,57.200,53467692395,5.205000e+09,6.044895,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,346,NaN,Energy
358,PEP,PepsiCo Inc.,Consumer Staples,110.15,21.51,2.837004,4.36,122.51,104.770,161413271020,1.284300e+10,3.670506,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,358,NaN,Consumer Staples
450,TDG,TransDigm Group,Industrials,283.00,23.76,0.000000,7.92,321.38,203.720,15241203731,1.635916e+09,4.268832,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,450,NaN,Industrials
460,UNP,Union Pacific,Industrials,124.86,22.06,2.062655,13.52,143.05,101.060,101513290382,1.016900e+10,4.860507,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,460,NaN,Industrials

In [135]:
df.iloc[[2,5,3,233,232,466,9,10,0]]

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2,new3,new4
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.600,42.28,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,2,3.19,Health Care
5,ATVI,Activision Blizzard,Information Technology,65.83,31.80,0.431903,1.28,74.945,38.93,52518668144,2.704000e+09,10.595120,5.16,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,5,5.16,Information Technology
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.860,60.05,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,3,26.14,Health Care
233,HD,Home Depot,Consumer Discretionary,181.22,28.10,1.861049,6.46,207.605,136.82,223378633329,1.651300e+10,2.896440,84.08,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,233,84.08,Consumer Discretionary
232,HOLX,Hologic,Health Care,38.80,19.21,0.000000,2.64,46.800,35.76,11181493750,1.561000e+09,4.803350,4.00,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,232,4.00,Health Care
466,UHS,"Universal Health Services, Inc.",Health Care,114.87,15.36,0.341530,7.14,129.740,95.26,11116075286,1.676204e+09,1.315866,2.21,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,466,2.21,Health Care
9,AMD,Advanced Micro Devices Inc,Information Technology,11.22,187.00,0.000000,0.03,15.650,9.70,11191663795,3.390000e+08,2.109195,21.47,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,9,21.47,Information Technology
10,AES,AES Corp,Utilities,10.06,9.96,4.961832,-1.72,12.050,10.00,6920851212,3.001000e+09,0.659514,2.20,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,10,2.20,Utilities
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.770,175.49,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,0,11.34,Industrials

In [136]:
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2,new3,new4
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,0,11.34,Industrials
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,1,6.35,Industrials
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,2,3.19,Health Care
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,3,26.14,Health Care
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,4,10.62,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,500,5.31,Industrials
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,501,212.08,Consumer Discretionary
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,502,2.39,Health Care
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,503,1.42,Financials
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,504,18.09,Health Care

In [137]:
max(df['Price'])

1806.06

In [139]:
df['Name'][df['Price']==max(df['Price'])]

372    Priceline.com Inc
Name: Name, dtype: object

In [142]:
df['new5']=df['Name']+'/'+df['Sector']

In [143]:
df

,Symbol,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings,newcol,new2,new3,new4,new5
0,MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,0,11.34,Industrials,3M Company/Industrials
1,AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,1,6.35,Industrials,A.O. Smith Corp/Industrials
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,2,3.19,Health Care,Abbott Laboratories/Health Care
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,3,26.14,Health Care,AbbVie Inc./Health Care
4,ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,4,10.62,Information Technology,Accenture plc/Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,500,5.31,Industrials,Xylem Inc./Industrials
501,YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,501,212.08,Consumer Discretionary,Yum! Brands Inc/Consumer Discretionary
502,ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,502,2.39,Health Care,Zimmer Biomet Holdings/Health Care
503,ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,503,1.42,Financials,Zions Bancorp/Financials
504,ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,http://www.sec.gov/cgi-bin/browse-edgar?action...,vamsi,504,18.09,Health Care,Zoetis/Health Care

In [145]:
dfn=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [146]:
dfn

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75